[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "补丁查看器"
   desc = "设置第三方应用程序来执行补丁查看"
%]

[% param_descs = {
  cvsroot => "系统中多数的用户将会使用在 'cvs diff' 的 " _
             "<a href=\"http://www.cvshome.org\">CVS</a> 根目录。" _
             "即使用户在不同的目录位置使用了 'cvs diff' ，也会在补丁查看器中使用此参数" _
             "（在补丁上使用 'Diff' 选项）来指出补丁存放于何处。" _
             "（注意：若你的 CVS 仓库位于远端，并需要输入密码，" _
             "你必须确定 $terms.Bugzilla 用户已完成 'cvs login' ，" _
             "或是将密码指定<a href=\"http://www.cvshome.org/docs/manual/cvs_2.html#SEC26\">" _
             "为 CVS 根目录的一部份</a>。）" _
             "若你并没有 CVS 仓库，请设为空白。",

  cvsroot_get => "$terms.Bugzilla 用来获取补丁的 CVS 根目录。" _
                 "有些系统可能想要把 CVS 仓库镜像在 $terms.Bugzilla 服务器或同一个服务器上，" _
                 "如此一来仓库可以是本地的文件系统（并且较快）。" _
                 "若你不明白这是什么参数，请设为和 cvsroot 参数相同的值" _
                 "（若 cvsroot 设为空白，则此参数也设为空白）。",

  bonsai_url => "连到含有你的 CVS 仓库信息的 <a href=\"http://www.mozilla.org/bonsai.html\">Bonsai</a> " _
                "服务器网址。 补丁查看器将会使用此信息，对补丁中的每一个段落建立连接到 bonsai 的 blame 链接" _
                "（将会自动在网址后面加上 '/cvsblame.cgi?...' ）。" _
                "若你不明白这是什么参数，请设为空白。",

  lxr_url => "指向你的 CVS 仓库的 <a href=\"http://sourceforge.net/projects/lxr\">LXR</a> 服务器网址。" _
             "补丁查看器将会使用此信息，对补丁中的每一个文件建立连往 LXR 的链接。" _
             "若你不明白这是什么参数，请设为空白。",

  lxr_root => "有些 LXR 的服务器并非将 CVS 仓库指向根目录－－例如 " _
              "<a href=\"http://lxr.mozilla.org/mozilla\">Mozilla</a> 的 LXR 服务器指向 " _
              "<code>mozilla/</code> 。这代表着在根目录下的相对路径网址。若你有类似情況，请输入。" _
              "若你不明白这是什么参数，请设置空白。" }
%]
