[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# This is a list of terms that may be changed to "brand" the Bugzilla
  # instance (for example, referring to "bugs" as "issues".) When used, these
  # strings are used in several different types of content, and are not
  # protected with Template-Toolkit FILTERs. Consequently, no special
  # characters are allowed.
  #
  # Remember to PROCESS rather than INCLUDE this template.
  #%]

[% terms = {
  "bug" => "问题",
  "Bug" => "问题",
  "abug" => "一个问题 ",
  "Abug" => "一个问题 ",
  "aBug" => "一个问题 ",
  "ABug" => "一个问题 ",
  "bugs" => "问题",
  "Bugs" => "问题",
  "zeroSearchResults" => "找不到匹配搜索条件的结果",
  "Bugzilla" => "Bugzilla"
  }
%]

[% USE Hook %]
[% Hook.process("end") %]
